<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="WpfControlLibrary1.dll" moduleType="WpfControlLibrary1.Class1, WpfControlLibrary1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Class1" startupLoaded="True" />
  </modules>
</configuration>